# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# Frontend production build output
dist/
dist-ssr/

# SQLite database files
*.db
*.db-journal

# Operating system / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
